# Gitignore template for Python and Jupyter Notebooks

# Created by https://www.toptal.com/developers/gitignore and improved by Awais Misbah
# Generated at https://www.toptal.com/developers/gitignore?templates=python,jupyternotebooks

# Get the latest version at https://www.toptal.com/developers/gitignore/api/python,jupyternotebooks
Scripts/.temp/
# Jupyter Notebooks (https://jupyter.org/)
## Changelogs
.changelog/*
Scripts/.temp/*

## Checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/

## IPython configuration files
ipython_config.py

# Python (https://www.python.org/)
### Byte-compiled / optimized / DLL files
*.py[co]
/__pycache__/

### Python scripts
*.py

### Distribution packages
*.egg
*.exe
*.pyz
*.pyzw
*.pyd
*.whl

### Documentation
*.html
*.pdf

# Miscellaneous
*.log
*.sql
*.sqlite
*.swp
.DS_Store
.env
.venv/
env/

# R Projects
.Rproj.user/

# CRAN packages
/cran/

# RStudio
.Rhistory
.Rdata
.Ruserdata

# Jupyter kernels
.kernel.json

# MongoDB
.mongorc.js

# VSCode
.vscode/

# venv
venv/
Scripts/UAL.ps1
